
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    font-family: "Roboto";
    color: black;
    
}

header {
    /* position: fixed; */
    width: 100%;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    overflow: hidden;
    padding: 15px;
    /* z-index: 3; */
    
}

.header .icon {
    display: none;
}

.nav-links {
    display: flex;
    margin: auto;
    text-transform: uppercase;
    margin: auto;
    
}
/* .nav-links2 {
    display: none;
} */

.nav-links a {
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
}


.hero-content {
    position: relative;
    width: 100%;
    background-image: url("../background-fotos/bnw-bar-bcg.jpg") ;
    background-size: cover;
    text-align: center;
    display: flex;
}

.hero-content::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.hero-text {
    font-size: 1.5rem;
    color: white;
    margin: auto;
    width: 80%;
    padding: 25px;
    font-weight: lighter ;
    z-index: 2;
}
.hero-text p {
    padding: 15px;
}



/* telefone botao */
.btn-moderno-tel {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: all 0.3s ease; /* Transições suaves */
}


.btn-moderno-tel:hover, .btn-moderno-nav:hover{
    color: white;
    background-color: black; 
    transform: translateY(-4px); /* Efeito de "levitação" */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


.btn-moderno-tel:focus, .btn-moderno-nav:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.8); 
}

.btn-moderno-nav {
    text-transform: uppercase; 
    color: black;
    cursor: pointer;
   /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Sombra sutil */
    transition: all 0.3s ease; /* Transições suaves */
}

/* Estilo para a página atual ativa (tem que vir por ultimo) */
.active-page {
    color: white;
    background-color: black; 
}



/* Botão moderno Saiba Mais */
.btn-moderno {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 15px 30px; 
    text-transform: uppercase; 
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}


.btn-moderno:hover {
    font-size: 1.2rem;
    color: black;
    background-color: white; 
    transform: translateY(-4px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.btn-moderno:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.8);
}

/* Container área onde mosta os clientes */

.container-clientes {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 85vh;
}

.clientes-imagens{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}

  

@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
    .header {
        display: block;

    }
    /* Responsive Menu ---------------------------------------------*/

    .header {
        position: relative;
    }
    .nav-links.responsive {
        position: relative ;
        display: block;
        margin: 5px;
        padding: 10px;
        
    }

    .nav-links.responsive .icon {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        overflow: hidden;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

        margin: 15px;
    }
    /* End of responsive ------------------------------- */
    

    .logo {    
        height: 65px;
        float: left;
    }

    .header .icon { 
        display:block;
        margin-top: 10px;
        width: 40px;
        height: 40px;
        float: right;
        
    }
    .hero-content {
        display: block;
    }
    .hero-content::before {
        display: none;
    }
    .nav-links2 {
        display: block ;
        position: relative;
    }
    #menu1 {
        display: none;
    }
    
    
  }
  

